body {
    background: #202028;
    color: #fff;
    font-family: sans-serif;
    font-size: 2em;
    text-align: center;
    overscroll-behavior: contain;
}

canvas {
    border: solid 0.2em #fff;
    height: 80vh;
}
